/* common shared styles */
body {
  font-family: "Open Sans", sans-serif;
}
.primary-color {
  color: #fd6e0a;
}
.btn-primary {
  background-color: #fd6e0a;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  padding: 15px 35px;
  border: 0px;
  border-radius: 5px;
}

main section{
  margin-top: 130px;
}
/* nav related styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* header related styles */
.header{
  background-color: #fff8f3;
  background-image: url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content{
  max-width: 550px;
}
.banner .profile_pic{
  width: 500px;
  height: 600px;
}
.banner-greeting{
  font-size: 45px;
  color: #474747;
  margin-bottom: 0px;
  font-weight: 600;
}
.banner-title{
  font-size: 85px;
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-des{
  color: #757575;
}

/* main section styles */
/* about section */
.about{
  padding: 130px;
  border-radius: 10px;
  margin: 130px 0;
  background-color: #FFF8F3;
}
.about-title{
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.about-des{
  color: #757575;
  text-align: center;
  font-size: 18px;
}
main{
  max-width: 1140px;
  margin: 0 auto;
}
.about-info-container{
  display: flex;
   justify-content: space-around;
}
.about-info{
 text-align: center;
}
.info-title{
margin-bottom: 0px;
}
.info-des{
  margin-top: 5px;
}
/* what i do section */
#what-i-do{
  padding: 30px 150px;
}
.skills-container{
  display: flex;
  gap: 24px;
}
.skill{
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-des{
  color: #757575;
}

/* Resume section */

.resume-container{
  display: flex;
  gap: 50px;
}
/* .resume-container hr{
  margin: 5px 10px;
} */
.resume-column-title{
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-item-des, .resume-item-sub-title{
  color: #757575;
}
.resume-item-title{
  color: #474747;
}
.cv-download{
  text-align: center;
  margin-top: 50px; 
}
.cv-download button{
  padding: 15px 30px; 
}
/* footer style */
footer{
  display: flex;
  padding: 130px 230px;
  margin-top: 130px;
  gap: 100px;
  background-color: #fff8f3;
}
.footer-column{
  width: 50%;
}
.footer-column-des{
  font-size: 18px;
  color: #474747;
}
.social-icons a{
  margin-right: 15px;
}
.footer-column input, textarea{
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  font-size: 16px;
  color: #757575;
  background-color: #fff;
  border-radius: 5px;
  border: 0px;
  width: 100%;
}